{% extends 'base.html'%} {% import 'macros.html' as macro%}

<!-- Styles block -->
{# {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<!--  -->
{% endblock %}


<!-- script block -->
{% block scripts %}
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{{super()}}
<!--  -->
{% endblock %} #}


<!-- Content block -->
{% block content %}

<div class="container-fluid" style="height:350px; padding-top:50px; padding-bottom:30px;">
  <div class="text-center" id="banner">
    <h1>Kensus API</h1>
    <h2>Access Kenya's Census Data with code</h2>
    <p>
      The census ensures that each community gets the right number of representatives in government.
      <br> Since representation is based on population, an up-to-date tally is essential.
    </p>
    <p><a class="btn btn-success btn-lg" href="{{url_for('auth.register')}}" role="button">Get API key</a></p>
  </div>

</div>
<br>
<br>
<div class="container">
  <div class="">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Occupation
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <!-- Navbar block  -->

            {% block activities %}
            <!--  -->
            {% include 'activities.html' %}
            <!--  -->
            {% endblock %}
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Collapsible Group Item #2
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            {# {% block activities %}
            <!--  -->
            {% include 'activities.html' %}
            <!--  -->
            {% endblock %} #}
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Collapsible Group Item #3
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            {# {% block activities %}
            <!--  -->
            {% include 'activities.html' %}
            <!--  -->
            {% endblock %} #}
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

  </div>

</div>




{% endblock%}
