{% extends 'base.html' %}
<!--  -->
{% block content %}

<div class="container text-center">
  <h2>Pricing</h2>
  <h4>Free for development! Options for commercial use coming soon.</h4>
  <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-success">
        <div class="panel-heading">
          <p><strong>Developer</strong></p>
        </div>
      <div class="panel-body">

        <p>Totally free, <a href="{{url_for('auth.register')}}">start now</a>. </p>
      </div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Start-Up / Commercial
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            Coming soon!
          </div>

        </div>
      </div>
    </div>

    </div>
  <div class="col-md-2"></div>
  </div>
</div>
    {% endblock %}
